<!DOCTYPE html>
<html lang="en" ng-app="multiComboBoxApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Multi ComboBox</title>
</head>
<body ng-controller="MainController">

    <label>Country : </label>
    <select ng-model="selectedCountry" ng-options="country.id as country.name for country in countries" ng-change="change(selectedCountry)"></select>

    <br />

    <label>City : </label>
    <select ng-model="selectedCity" ng-options="city.id as city.name for city in cities"></select>

    <script src="angular/angular.min.js"></script>
    <script src="app.js"></script>

</body>
</html>